absl-py==2.1.0
astor==0.8.1
astunparse==1.6.3
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
cycler==0.10.0
flatbuffers==25.2.10
gast==0.3.3
google-auth==2.38.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.29.0
h5py==2.10.0
idna==3.10
importlib-metadata==1.6.0
keras==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
libclang==18.1.1
Markdown==3.2.2
matplotlib==3.0.3
mock==4.0.2
numpy==1.21.6
oauthlib==3.2.2
opencv-python==4.1.0.25
opt-einsum==3.3.0
packaging==24.0
Pillow==7.1.2
protobuf==3.12.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pydot==1.4.1
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9
scikit-learn==0.20.3
scipy==1.4.1
six==1.15.0
tensorflow==2.10.0
tensorflow-gpu==2.10.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==1.1.0
typing_extensions==4.7.1
urllib3==1.26.16
Werkzeug==1.0.1
wrapt==1.16.0
zipp==3.1.0
